.container-faturar-cobrar {
    display: flex;
    flex-direction: column;

}

.aside-content {
  margin-left: 4dvw;
}

.hide { display:none ;}

@media only screen and (min-width: 1450px) {
  .aside-content {  
    width: 100dvw;
    height: 100%;
    margin-left: 2.8%;
  }
  

}
