.container-faturar-cobrar {
    display: flex;
    flex-direction: column;

}



.hide { display:none ;}

@media only screen and (min-width: 1440px) {
  .aside-content {  
    width: 100dvw;
    height: 100%;
    margin-left: 2.8%;
  }
  

}
