

.container-agender {
  background-color: var(--color-white);
  width: 95dvw;
  height: 60%;
}

.calendar {
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
}

.agendamento {
  width: 100%;
}

.count {
  align-items: center;
  color: var(--color-secondary);
}

.react-calendar {
  width: 100%;
  min-width: 85%;
  height: 100%;
  background-color: white;
  border: 1px solid #a0aec0;
  border-radius: 0.5rem;
  font-family: Arial, sans-serif;
  line-height: 1.125em;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
  padding: 0.75em 0.5em;
}

@media (max-width: 768px) {
  .react-calendar {
    font-size: 0.875rem;
  }
}
