

.container-agender {
  background-color: var(--color-white);
  width: 95dvw;
  height: 90%;
}

.calendar {
  margin: 0 auto;
  width: 80%;
  height: 56dvh;
  background-color: #fff;
}

.agendamento {
  width: 100%;
}

.count {
  align-items: center;
  color: var(--color-secondary);
}